/*ul {
   list-syle-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   border: 1px solid #e7e7e7;
   background-color: #f3f3f3;

}

li {
   border-right: 1px;
}

li:last-child {
    border-right: none;
}

body {
     background: white url("images/headshot.jpg") no-repeat center;


}
*/