{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>

<html>
  <head>
    <title>QSims</title>
  </head>

  <body>
    <div>
      <h1 ><strong>Quintez Sims</h1> </strong>
    </div>
    <div>
      <h2><em>Your creative needs, in one place!</em></h2>
    </div>

    {% for post in posts %}
        <div>
	  <p>published: {{ post.published_date }}</p>
	  <h1><a href="">{{ post.title }}</a></h1>
	  <p>{{ post.text |linebreaksbr }}</p>
	  </div>
    {% endfor %}
    <br /> <br />

    <ul><li><a href ="/polls">Polls App</a></li>
</html>
